node_modules
package-lock.json

tests/fixture/*
tests/fixture/*/*
!tests/fixture/another-subdir/scripts.js
!tests/fixture/compress/foo*
!tests/fixture/curimit@gmail.com (40%)/index.html
!tests/fixture/gzip/fake_ecstatic*
!tests/fixture/gzip/index*
!tests/fixture/gzip/real_ecstatic
!tests/fixture/show-dir$$href_encoding$$/aname+aplus.txt
!tests/fixture/subdir/e.html
!tests/fixture/subdir/index.html
!tests/fixture/subdir_with space/file_with space.html
!tests/fixture/subdir_with space/index.html
!tests/fixture/中文/檔案.html
!tests/fixture/404*
!tests/fixture/a.txt
!tests/fixture/b.txt
!tests/fixture/c.js
!tests/fixture/custom_mime_type*
!tests/fixture/f_f
!tests/fixture/hols
!tests/fixture/hols/c.js
!tests/fixture/hols/adler-2872995_1920.jpg
!tests/fixture/hols/elephant-1822636_1920.jpg
!tests/fixture/hols/glasgow.jpg
!tests/fixture/hols/landscape-540116_1920.jpg
!tests/fixture/hols/scotland-1761292_1920.jpg

